<% if @user.errors.any? %>
	<div id="error_explanation">
    	<p id="error"></br><%= pluralize(@user.errors.count, "error") %> 
        	prohibited this user from being saved:
		</p>
    	<ul id="error_message">
    		<% @user.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
    		<% end %>
    	</ul>
		</br>
  	</div>
<% end %>