<h1>Poker League</h1>

<p>
  	This is the home page for my Senior Project for Winter 2012.
</p>
<% if !signed_in? %>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>