<h1>
	<%= @title %>
</h1><br/>
<%= image_tag "poker.jpeg" %></p>
<div>
	<br/><br/>For those of you that are new to poker. The following will
	get you up to speed.<br/></p>
	<h2>Poker Basics</h2>
</div>