<div id="footer">
	<p class="menu-row">
		<%= link_to "About", about_path %><span>/</span>
		<%= link_to "Contact", contact_path %><span>/</span>
		<a href="http://news.railstutorial.org/">News</a><span>/</span>
		<a href="http://www.railstutorial.org/">Rails Tutorial</a><span>/</span>
	</p>
</div>