<div id="header">
  <div id="nav" class="container clearfix">
	<h1>
		<a href="/">Shawnbo.com</a>
	</h1>
    <ul id="navigation" class="clearfix">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </div>
</div>